.FavoriteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 65vw;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 35px;
    background-color: white;
}

.FavoriteFoodsContainer{
    display: flex;
    flex-direction: column;
    height:95%;
    width: 95%;
    overflow-y: scroll;
}

.FavoriteTitle{
    font-size: 36px;
    color: #967969;
    margin-top: 20px;
}