/* Set background color for html, body, and .App */
html, body, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ed7472;
}

/* Center content vertically and horizontally */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5DEB3;
}
