/* account_creation.css */

/* Container */
.AccountContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 250px;
    height: 70vh;
}

/* Form */
.AccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.SignUpInput{
    width: 95%;
    padding: 10px;
    margin: 10px 0 0 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.SignUpInput:focus{
    background-color: rgba(211, 211, 211, 0.181);
    outline-width: 1px;
    outline-color: #967969;
}

.SignUpLabel{
    font-size: 20px;
    align-items: start;
    margin-left: 9px;
    color: #967969;
}

.SignUpInfo{
    width:100%;
    margin-top: 20px;
}

.SignUpButton{
    background-color: #967969;
    color: white;
    border: none;
    font-size: 26px;
    width: 125px;
    border-radius: 25px;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.SignUpButton:hover{
    opacity: .8;
}

.SignUpButton:active{
    opacity: .5;
}

.CuisineDropdown{
    font-size: 25px;
    height: 40px;
    color: #95a46a;
    margin-top: 10px;
}

/* Additional styles specific to the account creation page */
/* ... */